{
  "trailingComma": "none",
  "arrowParens": "always",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "printWidth": 164,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    }
  ]
}
